// FRMS Colors -- Partial

// Colors Variables


// FRMS Green
$green-g10: #f6f7f3;
$green-g20: #e6eed8;
$green-g30: #c0e246;
$green-g40: #83c55e;
$green-g50: #50b26f;
$green-g60: #307552;
$green-g70: #12423c;
$green-g80: #0a2e29;

// Green Mixins
@mixin green10 {color: $green-g10;}
@mixin green20 {color: $green-g20;}
@mixin green30 {color: $green-g30;}
@mixin green40 {color: $green-g40;}
@mixin green50 {color: $green-g50;}
@mixin green60 {color: $green-g60;}
@mixin green70 {color: $green-g70;}
@mixin green80 {color: $green-g80;}


// FRMS Manilla
$manilla-m10: #faf9f6;
$manilla-m20: #f4f4f0;
$manilla-m30: #e0ded7;
$manilla-m40: #bab7ae;
$manilla-m50: #88867d;
$manilla-m60: #53514b;
$manilla-m70: #3e3c35;

// Manilla Mixins
@mixin manilla10 {color: $manilla-m10;}
@mixin manilla20 {color: $manilla-m20;}
@mixin manilla30 {color: $manilla-m30;}
@mixin manilla40 {color: $manilla-m40;}
@mixin manilla50 {color: $manilla-m50;}
@mixin manilla60 {color: $manilla-m60;}
@mixin manilla70 {color: $manilla-m70;}



// Global Classes for FrontEnd Dev
#green10, .green10 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include green10;}}
#green20, .green20 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include green20;}}
#green30, .green30 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include green30;}}
#green40, .green40 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include green40;}}
#green50, .green50 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include green50;}}
#green60, .green60 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include green60;}}
#green70, .green70 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include green70;}}
#green80, .green80 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include green80;}}
#manilla10, .manilla10 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include manilla10;}}
#manilla20, .manilla20 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include manilla20;}}
#manilla30, .manilla30 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include manilla30;}}
#manilla40, .manilla40 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include manilla40;}}
#manilla50, .manilla50 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include manilla50;}}
#manilla60, .manilla60 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include manilla60;}}
#manilla70, .manilla70 {h1, h2, h3, h4, h5, h6, div, span, a, p {@include manilla70;}}
