/* FRMS Homepage Styling */

// Request A Quote Form - Form 197 - Multi Step Form
#wpforms-form-197 {
    // Multistep Page Indicator
    .wpforms-page-indicator{
        margin: 0;
        &.progress {
            display: flex;
            flex-direction: column-reverse;
            gap: 4px;
        }
            .wpforms-page-indicator-page-progress-wrap {
                height: 8px;
            }
    }
    span.wpforms-page-indicator-steps {
        font-size: 1rem;
    }
    // Full Width Submit Buttons
    .wpforms-form input[type=submit], .wpforms-form button[type=submit]{
        width:100% !important;
    }
    div.wpforms-container-full .wpforms-form{
        .wpforms-page-button {
            font-family: 'Shredder Sans', 'Inter', 'Open Sans', Arial, apple-system, system-ui, BlinkMacSystemFont, sans serif;
            font-size: 1.25rem;
            font-weight: 800;
            margin: 0 5px;
            min-width: 90px;
            text-align: center;
            width: 100%;
            padding: 16px;
            border-radius: 4px;

        // Step Indicator
        .wpforms-page-indicator {
            margin: 0;
        }
        .wpforms-form .wpforms-field {
            padding: 8px 0;
        }
    }
}
    div.wpforms-container-full {
        margin: 0px auto;
    }
}