/* FRMS Homepage Styling */

body.grve-header-overlapping #grve-main-header {
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    max-width: 1380px;
    border-radius: 16px;
    margin: 0 auto;
}