// FMRS Typography Partial for Federal

//Fonts
$frms-sans: 'Shredder Sans', 'Inter', 'Open Sans', Arial, apple-system, system-ui, BlinkMacSystemFont, sans serif; // Shredder Sans
$frms-sharp: 'Sharp Grotesk', 'Inter', 'Open Sans', Arial, apple-system, system-ui, BlinkMacSystemFont, sans serif; // Sharp Grotesk

// Mixins
@mixin Sans {font-family: $frms-sans !important;}
@mixin Sharp {font-family: $frms-sharp !important;}
@mixin uppercase {text-transform: uppercase !important;} 
@mixin titleCase {text-transform: capitalize !important;}

/* Global Classes for FrontEnd */
#sans, .sans {h1,h2,h3,h4,h5,h6,div,span,a,p {@include Sans;}}
#sharp, .sharp {h1,h2,h3,h4,h5,h6,div,span,a,p {@include Sharp;}}



/* Typography */
h1, h2, h3, h4, h5, h6, a, li, ul, span, div, ol, p, button {-webkit-font-smoothing: antialiased !important;}
p, li, ol, span {@include Sans;}

// Type Casing
.uppercase {h1, h2, h3, h4, h5, h6, a, li, ul, span, div, ol, p, button {@include uppercase;}} 
.titleCase {h1, h2, h3, h4, h5, h6, a, li, ul, span, div, ol, p, button {@include titleCase;}}
h1, h2, h3, h4, h5, h6, a, li, ul, span, div, ol, p, button {.uppercase {@include uppercase;} .titleCase {@include titleCase;}}

// Underline
.underline {h1,h2,h3,h4,h5,h6,div,span,a,p {text-decoration: underline !important;}} h1,h2,h3,h4,h5,h6,div,span,a,p {.underline {text-decoration: underline !important;}}