// FMRS Typography Partial for Federal

//Fonts
$frms-sans: 'Shredder Sans', 'Inter', 'Open Sans', Arial, apple-system, system-ui, BlinkMacSystemFont, sans serif; // Shredder Sans
$frms-sharp: 'Sharp Grotesk', 'Inter', 'Open Sans', Arial, apple-system, system-ui, BlinkMacSystemFont, sans serif; // Sharp Grotesk

// Mixins - Must be decalred first before
@mixin sans {font-family: $frms-sans;}
@mixin sharp {font-family: $frms-sharp;}
@mixin uppercase {text-transform: uppercase;}
@mixin titlecase {text-transform: capitalize;}

// Global Classes for FrontEnd Use 
.sans {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    span,
    a,
    p {
        @include sans;
    }
}

.sharp {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    span,
    a,
    p {
        @include sharp;
    }
}

// Type Casing - Uppercase & Capitalize

.uppercase {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    span,
    a,
    p {
        @include uppercase;
    }
}

.titlecase {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    span,
    a,
    p,
    button {
        @include titlecase;
    }
}

h1,h2,h3,h4,h5,h6,div,span,a,p,button {
    &.bold {
        @include sharp;
        font-weight: 600;
    }
    &.light{
        @include sharp;
        font-weight: 300;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
a,
p,
button {
    .sans {
        @include sans;
    }

    .sharp {
        @include sharp;
    }

    .uppercase {
        @include uppercase;
    }

    .titlecase {
        @include titlecase;
    }
}

// Underline
.underline {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    div,
    span,
    a,
    p {
        text-decoration: underline;
    }
}
h1,
h2,
h3,
h4,
h5,
h6,
div,
span,
a,
p {
    .underline {
        text-decoration: underline;
    }
}

// Add Font Weight Modifiers
