// Master Styling for Federal Records Management
@import '_color.scss';
@import '_typography.scss';

// Navigation
.empty-class{background-color:$frms-green-g40;}

// Request A Quote CTA
a.lime-cta {
    padding: 16px 32px;
    background: $frms-green-g30 !important;
    border-radius: 4px;
    color: $frms-green-g70 !important;
    font-weight: 600;
    letter-spacing: 0;
        &:hover {
            background: $frms-green-g50 !important;
            color: $frms-manilla-m10 !important;
            fill: $frms-manilla-m10 !important;
        }
}

// General Purpose - Housekeeping
::selection {
    color: inhert;
    background: $frms-green-g20 !important;
}